@use '../base.scss';

#nav-bar{
    display: grid;
    grid-template-columns: 30% 50% 20%;
    align-items: center;
}

#search-button{
    position: relative;
    right: 50px;
    top: 2px;
}

#account-buttons{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    margin-right: 20px;
}

#nav-search:focus{
    outline: none;
}

@media screen and (max-width: 500px) {

    #nav-bar{
        padding-top: 10px;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    #page-button{
        display: none;
    }

    #nav-search{
        width: 72.5vw;
        margin-left: 10%;
    }

    #search-button{
        position: absolute;
        top: 18px;
        right: 4vw;
    }

    #account-buttons{
        display: none;
    }
}