@use '../base.scss';

#nav-bar{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

#search-button{
    position: absolute;
    top: 7px;
    right: 9.5vw;
}

#page-button{
    display: flex;
    justify-content: center;
}

#search-bar{
    display: flex;
    justify-content: center;
}

#nav-search:focus{
    outline: none;
}

@media screen and (max-width: 500px) {

    #nav-bar{
        padding-top: 10px;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    #page-button{
        display: none;
    }

    #nav-search{
        width: 90vw;
        margin-left: 10%;
    }

    #search-button{
        position: absolute;
        top: 18px;
        right: 4vw;
    }

    #account-buttons{
        display: none;
    }
}