@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import '~bootstrap/scss/bootstrap.scss';

//variables

$primary-colour: #000;
$secondary-colour: #fff;
$border-radius: 3px;
$font-size: 16px;
$header-font-size: 68px;

//general
body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.container-fluid{

    .header{
      font-size: $header-font-size;
    }

    .media{
        border: none;
    }
}

.media-icon{
  height: 40px;
  width: 40px;
}

.test{
    border: 1px solid black;
}

.form-container{
  width: 500px;
}

//desktop


//mobile